<style>
    div{
    height: 600px;
    border-left: 50px solid  	#8B008B;
    border-right: 50px solid  	#8B008B;
    border-bottom: 50px solid  	#8B008B;
    border-top: 50px solid  	#8B008B;
    margin: 10px;
    background-color: #6B8E23;
    padding: 20px;
    }
</style>

<div>

<%= form_for @people do |f| %>

   <h1>Edit Person </h1>
 
  <% if @people.errors.any? %>
      <h2>
        <%= pluralize(@people.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @people.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
 
 <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </p>
  <img src="http://i.imgur.com/fRzhZAP.png" height = 500 width = 500 style = "float:right">
  <p>
      <%= f.label :height %><br>
      <%= f.text_field :height %>
    </p>
  <p>
      <%= f.label :colour %><br>
      <%= f.text_field :colour %> <br>
  </p>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

</div>