<style>
    div{
    height: 2400px;
    border-left: 50px solid  	#8B008B;
    border-right: 50px solid  	#8B008B;
    border-bottom: 50px solid  	#8B008B;
    border-top: 50px solid  	#8B008B;
    margin: 10px;
    background-color: #6B8E23;
    padding: 40px;
    font-family: Garamond;
    }
</style>


<div ie = "border">
    

<h1 style = "color:purple">Listing People</h1>

      <img src=http://i.imgur.com/NHZzz6G.png style = "float:right"> 
 
<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Height</h>
    <th>Colour</h>
  </tr>
 
  <% @people.each do |people| %>
    <tr>
      <td><%= people.name %></td>
      <td><%= people.weight %></td>
      <td><%= people.height %></td>
      <td><%= people.colour %></td>
      <td><%= link_to 'Show', person_path(people)%></td>
      <td><%= link_to 'Edit', edit_person_path(people)%></td>
       <td><%= link_to 'Destroy', person_path(people),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New person', new_person_path %><br>

<%= link_to 'Home', root_path %><br>


   


    <% total = 0 %>
    <% count = 0 %>
    <% @people.each do |people| %>
   <% total = total + people.weight %>
   <% count = count +1%>
   <%end%>
   <% aweight = total/count %>



    <% total = 0 %>
    <% count = 0 %>
    <% @people.each do |people| %>
   <% total = total + people.height %>
   <% count = count +1 %>
   <%end%>
   <% aheight = total/count%>
   <%print aweight%> 

<p><%= "Number of people: #{count}" %></p>
<p><%= "Average Weight: #{aweight}" %></p>
<p><%= "Average Height: #{aheight}" %></p>


<h1 style = "color:purple"> Displaying People </h1>
    <% @people.each do |people| %>
    
       <style>
       canvas {
       float: left;
       }
       </style>
      

      <canvas id="canvas" width = <%= people.weight %> height=  <%= people.height %> style = "background-color:<%= people.colour %>" "border:1px solid #d3d3d3"
         "float: none">

      </canvas>
         <p> </p><br>
       <p><%= people.name %></p><br> 
  
   
  
    <% end %>
    
    
</div>